:root
{
	/* --graph_area_bg: #908bc5; */
	/* --graph_content_color: #2b1550; */
	--graph_area_bg: #ffbcd9;
	--graph_content_color: #3f2566;
}

#graph_area_container
{
	padding: 0 !important;
	color: #877eff;
	box-shadow: 0px 0px 4px 0px #3f2566;
	border: solid;
	border-width: 6px;
	border-style: double;
	border-color: var(--graph_content_color);
}
#graph_area
{
	padding: 0 4rem 0rem 4rem;
	fill: var(--graph_area_bg);
}

.draggable
{
	cursor: move;
}

.node_circle
{
	fill: var(--graph_area_bg);
	stroke: var(--graph_content_color);
	stroke-width: 4px;
}
.node_label
{
	text-anchor:middle;
	font-size: 45px;
	fill: var(--graph_content_color);
	font-family: patrick_hand;
}
.node_info
{
	text-anchor:start;
	font-size: 30px;
	fill: var(--graph_area_bg);
	font-family: "Gothic A1";
}
.node_info_bg
{
	fill: var(--graph_content_color);
	mix-blend-mode: hard-light;
	rx: 15px;
}

.edge_main
{
	stroke: var(--graph_content_color);
	stroke-width: 4px;
}
.edge_bg
{
	stroke: rgba(0, 0, 0, 0);
	stroke-width: 24px;
}
#edge_being_drawn line
{
	stroke: var(--graph_content_color);
	stroke-width: 4px;
	stroke-dasharray:10,7;
}
.edge_weight
{
	text-anchor:middle;
	/* text-decoration: overline; */
	font-size: 50px;
	fill: var(--graph_content_color);

	cursor: text;

	stroke-width: 20px;
	paint-order: stroke;
	stroke:var(--graph_area_bg);
	font-family: patrick_hand;

}

.edge_weight_input
{
	text-align: center;
	font-size: 50px;

	outline: none;
	border: none;

	left: 50%;
	/* top: 50%; */
	transform: translate(-50%, -50%); 
	position: absolute;
	font-family: patrick_hand;
	color: var(--graph_content_color);
	background-color: var(--graph_area_bg);

}
.edge_weight_input::-webkit-inner-spin-button 
{
	-webkit-appearance: none;
}

svg text
{
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#output_box_container
{
	padding: 0 !important;
	margin: 0 !important;
	box-shadow: 0px 0px 4px 0px #3f2566;
	border: solid;
	border-width: 6px;
	border-style: double;
	border-color: var(--graph_content_color);
	width: -webkit-fill-available;
}
#output_box
{
	background-color: var(--graph_area_bg);
	color: var(--graph_content_color);
	outline: none;
	vertical-align: top;
	/* display: block; */
	resize: none;
	
	width: -webkit-fill-available;
	height: 100%;
	text-overflow: ellipsis;
	overflow: scroll;
	
}
#output_box::selection
{
	color: var(--graph_area_bg);
	background: var(--graph_content_color);
}