
:root
{
	--graph_area_bg: white;
}
.disabled { pointer-events: none; }
@media print
{
	body * { visibility: hidden; }
	#graph_area_main_svg, #graph_area_main_svg * { visibility: visible; }
	#graph_area_main_svg { position: relative; }
}
#graph_area_container
{
	box-shadow: 4px 4px 25px 10px rgba(0, 0, 0, .07);
}
#graph_area
{
	padding: 0 4rem 0rem 4rem;
	fill: var(--graph_area_bg);
}
.static
{
	cursor: not-allowed;
}
.draggable
{
	cursor: move;
}
.node_circle
{
	fill: var(--graph_area_bg);
	stroke: black;
	stroke-width: 1px;
}
.node_label
{
	text-anchor:middle;
	font-size: 12px;
}
.edge_weight
{
	text-anchor:middle;
	stroke-width: 5px;
	paint-order: stroke;
	stroke:var(--graph_area_bg);
	font-size: 12px;
}
.edge_main
{
	stroke: black;
}
.edge_bg
{
	stroke: rgba(0, 0, 0, 0);
	stroke-width: 6px;
}
svg text
{
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}