:root
{
	--graph_area_bg: white;
}

#graph_area_container
{
	box-shadow: 4px 4px 25px 10px rgba(0, 0, 0, .07);
}
#graph_area
{
	padding: 0 4rem 0rem 4rem;
	fill: var(--graph_area_bg);
}

.draggable
{
	cursor: move;
}

.node_circle
{
	fill: var(--graph_area_bg);
	stroke: black;
	stroke-width: 3px;
}
.node_label
{
	text-anchor:middle;
	font-size: 45px;
}

.edge_main
{
	stroke: black;
	stroke-width: 4px;
}
.edge_bg
{
	stroke: rgba(0, 0, 0, 0);
	stroke-width: 24px;
}
.edge_weight
{
	text-anchor:middle;
	/* text-decoration: overline; */
	font-size: 42px;

	cursor: text;

	stroke-width: 20px;
	paint-order: stroke;
	stroke:var(--graph_area_bg);

}

.edge_weight_input
{
	text-align: center;
	font-size: 42px;

	outline: none;
	border: none;

	left: 50%;
	/* top: 50%; */
	transform: translate(-50%, -50%); 
	position: absolute;

}
.edge_weight_input::-webkit-inner-spin-button 
{
	-webkit-appearance: none;
}

svg text
{
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}