#main_menu
{
	flex: 0 0 auto;
	margin: 0 !important;
	padding-left: 1.5rem;
	padding-right: 0.9rem;
	justify-content: center;
	align-items: center;
	height: -webkit-fill-available;
	display: flex;
	flex-flow: column;
	height: 100%;
}

@media print
{
	body * { visibility: hidden; }
	#graph_area_main_svg * { visibility: visible; }
	#graph_area_main_svg { position: absolute; top: 0; left: 0; height: -webkit-fill-available; }
	.node_info { fill:none; }
	.node_info_bg { fill:none;}
	#graph_area { fill: white; }
	.node_circle { fill: white; stroke: black; }
	.edge_main { stroke: black; }
	.edge_label { fill: black; }
	.edge_weight { fill: black; stroke: white; }
	.node_circle { fill: white; }
	#print_area * { fill:green; }
}

#algos_dropdown
{
	width: -webkit-fill-available;
}

.my_button
{
	font-size: 1.1vw;
	cursor: pointer;
	color: var(--graph_content_color);
	border-style: solid;
	border-color: #c57f9c;
	border-width: 3px;
	border-radius: .5vw;
	width: 15%;
	background-color: #fa9ec6;

	box-shadow:
	inset -5px -5px 8px 0px #a05f7b,
	inset 5px 5px 8px 0px #ffd1e5;
	/* 0px 5px 15px 0px #4f2f83; */


	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.25rem 0.5rem 0.5rem 0.5rem;
	margin: 0rem 0.5rem 0rem 0.5rem;
}
.my_button:hover
{
	transition-duration: 0s;
	box-shadow:
	/* inset -5px -5px 15px 0px #b66c8c65, */
	inset -5px -5px 14px 1px #a05f7b,
	inset 5px 5px 10px 0px #ffd1e5;
	/* 0px 5px 15px 0px #3a225f; */
}
.my_button:active
{
	box-shadow:
	inset 5px 5px 10px 0px #a05f7b,
	inset -5px -5px 10px 0px #ffd1e5;
}
.my_button:disabled
{
	box-shadow: none;
	background-color: #d389a9;
	cursor: not-allowed;
}

.w_uw
{
	font-size: 1.1vw;
	cursor: pointer;
	color: var(--graph_content_color);
	border-style: solid;
	border-color: #c57f9c;
	border-width: 3px;
	border-radius: .5vw;
	width: -webkit-fill-available;
	background-color: #fa9ec6;

	box-shadow: 0 8px #4f2f83,
	inset -5px -5px 10px 0px #a05f7b,
	inset 5px 5px 10px 0px #ffd1e5,
	0px 5px 15px 0px #4f2f83;

	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.25rem 0.5rem 0.5rem 0.5rem;
	margin: 1rem 0.5rem 0.5rem 0.5rem;
}

.w_uw:hover
{
	transition-duration: 0s;
	box-shadow: 0 9px #4f2f83,
	/* inset -5px -5px 15px 0px #b66c8c65, */
	inset -5px -5px 14px 1px #a05f7b,
	inset 5px 5px 10px 0px #ffd1e5,
	0px 5px 15px 0px #3a225f;

}

.w_uw.selected:hover
{
	box-shadow: 0 6px #4f2f83,
	inset -5px -5px 10px 0px #a05f7b,
	inset 5px 5px 10px 0px #ffd1e5,
	0px 5px 15px 0px #4f2f83;
	cursor: not-allowed;
}

.selected
{
	box-shadow: 0 6px #4f2f83,
	inset -5px -5px 10px 0px #a05f7b,
	inset 5px 5px 10px 0px #ffd1e5,
	0px 5px 15px 0px #4f2f83;
	transform: translateY(3px);
}

html,body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
	font-family: 'Arimo';
	/* font-weight: 200; */
	-webkit-user-select : none;
}

select
{
	border: none;
	outline: none;
	background-color: #fa9ec6;
	margin: 0.5em 1em 0.5em 1em;
	width: min-content;

	font-size: 1.1vw;
	cursor: pointer;
	color: var(--graph_content_color);
	border-style: solid;
	border-color: #c57f9c;
	border-width: 3px;
	border-radius: .5vw;
	width: 15%;
	background-color: #fa9ec6;

	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.25rem 0.5rem 0.5rem 0.5rem;
	margin: 1rem 0.5rem 0.5rem 0.5rem !important;
}
select>option
{
	border-style: solid;
	border-color: #c57f9c;
	border-width: 3px;
	outline: none;
}
select>option:hover
{ 
	background-color: #000 !important;
}
#sub_menu select
{
	width: 70%;
	margin: 0.5rem 0.5rem 1rem 0.5rem !important;
}

::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	cursor: all-scroll;
}
::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 5px #4f2f83; 
	border-radius: 2px;
}
::-webkit-scrollbar-thumb
{
	background: #4f2f83; 
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover
{
	background: var(--graph_content_color);
}
::-webkit-scrollbar-corner
{
	background-color: transparent;
}


/* ============= others =============== */

.container {
	width: 100%;
	max-width: none;
	/* padding:0; */
	padding-left: 2rem;
	padding-right: 2rem !important;
}
.navbar {
	box-shadow: 0px 4px 10px -6px rgba(0, 0, 0, .3);
}
.btn-primary {
	background-color: #05174f;
	color: #BFD7EA !important;
	border-width: 0ch;
	font-weight: 500;
	font-size: 1.25rem;
}
.btn-primary:hover {
	color: #BFD7EA !important;
	background-color: #011c6e;
	font-weight: 500;
	font-size: 1.25rem;
}
.btn-primary:disabled {
	background-color: #05174fe1;
	color: #BFD7EA !important;
	border-width: 0ch;
	font-weight: 500;
	font-size: 1.25rem;
}

#print_area
{
	fill: #3f256680; /* #ffb8d780 */
}