<!DOCTYPE html>
<html>

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/graph.css">

{% block style %}
{% endblock %}

	<title>
		{{ title }}
	</title>

	<!-- <link rel="icon" href="static/assets/logo.png" type="image/x-icon"> -->
</head>

<body style="background-color: #f8f9fa;" oncontextmenu="return false;">

	<div id="nav" style="background: #db0000; box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, .3);">
		<div class="row" style="text-align: center;">
			<div class="col-2" style="padding: 0.75rem 0rem 0.75rem 0rem !important;">
				<img src="static/assets/navbar_logo.svg" style="width:15%; height:auto;">
			</div>
			<div class="col-8 vertical-center" style="padding: 0 !important;">
				
			</div>
			<div class="col-2" style="padding: 0 !important;"></div>
		</div>
	</div>

	<div class="row" >

	<div class="col-2 menu" style="margin: 0 !important; padding-left: 1em;" id="main_menu">

		<input type="radio" name="weighted_unweighted" onclick="weighted_unweighted(this);" value="u" checked />
		<label for="age1">unweighted</label><br>
		<input type="radio" name="weighted_unweighted" onclick="weighted_unweighted(this);" value="w" />
		<label for="age2">weighted</label><br>  

		<select name="algos" id="algos" onchange="algo_select(this)">
			<option value="" disabled selected hidden>Choose Algorithm</option>
			<option value="dfs">Depth First Search</option>
			<option value="bfs">Breadth First Search</option>
			<option value="ccs">Connected Components</option>
			<option value="tree_chk">Check if tree</option>
			<option value="prims_min">Prim's Minimum Spanning Tree</option>
			<option value="prims_max">Prim's Maximum Spanning Tree</option>
		</select>

		<div id="sub_menu">
		</div>

		<button id="run_button" onclick="" > run </button>

		<br>
		<textarea id="output_box" name="output_box" rows="5" cols="25" contenteditable="false"></textarea>

	</div>

	<div class="col-10" style="margin: 0 !important; padding: 0 !important;">
	

	<div class="row" style="text-align: center; padding-top: 0.5rem; padding-bottom: 0.5rem;">
		<div class="col-2" style="padding: 0 !important;"></div>
		<div class="col-8 " style="padding: 0 !important;">
			<button id="bwd_button" class="btn btn-primary" > <--- </button>
			<button id="fwd_button" > ---> </button>
			<button id="play_button" > play </button>
		</div>
		<div class="col-2" style="padding: 0 !important;"></div>
	</div>

	
		<div class="container" style="margin: 0 !important; padding: 0 !important;" >
				{% block main_content %}
				{% endblock %}
			<div></div>
		</div>


	</div>
	</div>

	{% block script %}
	{% endblock %}

</body>
</html>