{% extends 'base.html' %}

{% block style %}
<style>
	:root
	{
		--drawing_area_bg: white;
	}
	#drawing_area_container
	{
		box-shadow: 4px 4px 25px 10px rgba(0, 0, 0, .07);
	}
	#drawing_area
	{
		padding: 0 4rem 0 4rem;
		fill: var(--drawing_area_bg);
	}
	.static
	{
		cursor: not-allowed;
	}
	.draggable
	{
		cursor: move;
	}
	.node_circle
	{
		fill: var(--drawing_area_bg);
		stroke: black;
		stroke-width: 1px;
	}
	.node_label
	{
		text-anchor:middle;
		font-size: 12px;
	}
	.edge
	{
		stroke: black;
	}
</style>
{% endblock %}

{% block script %}
<script>
	ethereum.autoRefreshOnNetworkChange = false;

	var drag_element, svg, position, transform, u, v, current_edge;
	var node_id = 1, node_circle_radius = "8px", background_color = "#e8e8e8", node_label_font_size="12px", node_label_dy="4px";
	// var node_list = [], edge_list=[];

	function getMousePosition(evt)
	{
		var CTM = svg.getScreenCTM();
		return { x: (evt.clientX - CTM.e) / CTM.a, y: (evt.clientY - CTM.f) / CTM.d };
	}


	function close(pos1,pos2)
	{
	return ( (pos1.x-pos2.x)**2 + (pos1.y-pos2.y)**2 ) <= 5;
	}

	function makeDraggable(evt)
	{
		svg = evt.target;
		svg.addEventListener('mousedown', startDrag);	svg.addEventListener('touchstart', startDrag);
		svg.addEventListener('mousemove', drag);	svg.addEventListener('touchmove', drag);
		svg.addEventListener('mouseup', endDrag);	svg.addEventListener('touchend', endDrag);
		svg.addEventListener('mouseleave', endDrag);	svg.addEventListener('touchleave', endDrag);	svg.addEventListener('touchcancel', endDrag);
		svg.addEventListener('mousemove', draw_edge);	svg.addEventListener('touchmove', draw_edge);

		function startDrag(evt)
		{
			position = getMousePosition(evt);
			if (evt.target.classList.contains('draggable'))
			{
				drag_element = evt.target.parentNode;
				var transforms = drag_element.transform.baseVal;
				if (transforms.length === 0 || transforms.getItem(0).type !== SVGTransform.SVG_TRANSFORM_TRANSLATE)
				{
					var translate = svg.createSVGTransform();
					translate.setTranslate(0, 0);
					drag_element.transform.baseVal.insertItemBefore(translate, 0);
				}
				transform = transforms.getItem(0);
				position.x_offset = position.x - transform.matrix.e;
				position.y_offset = position.y - transform.matrix.f;
			}
		}

		function drag(evt)
		{
			if (drag_element)
			{
				evt.preventDefault();
				var coord = getMousePosition(evt);
				transform.setTranslate(coord.x - position.x_offset, coord.y - position.y_offset);
				var edges = document.getElementById("edges").children;
				for (var i = 0; i < edges.length; i++)
				{
					edge = edges[i].id.split(" ");
					if(edge[0]==drag_element.id)
					{
						edges[i].setAttributeNS(null,"x1",coord.x);
						edges[i].setAttributeNS(null,"y1",coord.y);
					}
					else if(edge[1]==drag_element.id)
					{
						edges[i].setAttributeNS(null,"x2",coord.x);
						edges[i].setAttributeNS(null,"y2",coord.y);
					}
				}
			}
		}

		function endDrag(evt)
		{
			if(drag_element && !close(position,getMousePosition(evt)))
				drag_element = null;
			else if(drag_element)
			{
				if(u)
				{
					v = drag_element;
					confirm_edge();
				}
				else
				{
					u = drag_element;
					start_drawing_edge(evt);
				}
				drag_element = null;
			}
			else if (evt.type != "mouseleave" && evt.type!="touchleave" && evt.type!="touchcancel" && close(position,getMousePosition(evt)) && !current_edge)
				create_node(evt);
			else if (current_edge)
			{
				current_edge.remove();
				current_edge = null;
				u = null;
				v = null;
			}
		}

		function start_drawing_edge(evt)
		{
			current_edge = document.createElementNS(svgNS,"line");
			
			position = getMousePosition(evt);

			current_edge.setAttributeNS(null,"x1",position.x);
			current_edge.setAttributeNS(null,"y1",position.y);
			current_edge.setAttributeNS(null,"x2",position.x);
			current_edge.setAttributeNS(null,"y2",position.y);

			document.getElementById("edges").appendChild(current_edge);
		}

		function draw_edge(evt)
		{
			if (current_edge)
			{
				position = getMousePosition(evt);
				current_edge.setAttributeNS(null,"x2",position.x);
				current_edge.setAttributeNS(null,"y2",position.y);
			}
		}

		function confirm_edge()
		{
			if(u!=v)
			{
				current_edge.setAttributeNS(null,"id",u.getAttribute("id")+" "+v.getAttribute("id"));
				// edge_list.push([u.getAttribute("id"),v.getAttribute("id")]);
			}
			else
				current_edge.remove();
			current_edge = null;
			u = null;
			v = null;
		}

	}

	var svgNS = "http://www.w3.org/2000/svg";  

	function create_node(evt)
	{
		evt.preventDefault();
		var coord = getMousePosition(evt);

		var node = document.createElementNS(svgNS,"g");
		node.setAttributeNS(null,"id",node_id);

		var node_circle = document.createElementNS(svgNS,"circle");
		node_circle.setAttributeNS(null,"cx",coord.x);
		node_circle.setAttributeNS(null,"cy",coord.y);
		node_circle.setAttributeNS(null,"r",node_circle_radius);
		node_circle.setAttributeNS(null,"class","draggable node_circle");
		
		var node_label = document.createElementNS(svgNS,"text");
		node_label.setAttributeNS(null,"x",coord.x);
		node_label.setAttributeNS(null,"y",coord.y);
		node_label.setAttributeNS(null,"dy",node_label_dy);
		node_label.setAttributeNS(null,"class","draggable node_label");
		var textNode = document.createTextNode(node_id);
		node_label.appendChild(textNode);

		node.appendChild(node_circle);
		node.appendChild(node_label);
		document.getElementById("nodes").appendChild(node);
		// node_list.push(node_id);
		node_id+=1;
	}

	function get_node_list()
	{
		var nodes = document.getElementById("nodes").children;
		var node_list = [];
		for (var i = 0; i < nodes.length; i++)
		{
			node_list.push(nodes[i].id);
		}
		return node_list;
	}

	function get_edge_list()
	{
		var edges = document.getElementById("edges").children;
		var edge_list = [];
		for (var i = 0; i < edges.length; i++)
		{
			edge_list.push(edges[i].id.split(" "));
		}
		return edge_list;
	}

</script>
{% endblock %}

{% block main_content %}
	<div id="drawing_area_container">
		<svg id="drawing_area_main_svg" viewBox="0 0 600 300" onload="makeDraggable(evt)" >
			<rect id="drawing_area" x="0" y="0" width="600" height="300" />
			<g class="edge" id="edges">
			</g>
			<g id="nodes">
			</g>
		</svg>
	</div>
{% endblock %}