<!-- <body>
	<div>
		<input type="number" class="edge_weight_input" value="12" >
	</div>
</body>

<style>

div
{
	border-style: double;
	height: 300px;
	/* display: flex;
	justify-content: center;
	align-items: flex-end; */
}

input
{
	left: 50%; 
	transform: translate(-50%, -50%	); 
	position: absolute;
}

</style> -->
			<button id="bwd_button" class="btn btn-primary" > <--- </button>
			<button id="fwd_button" > ---> </button>
			<button id="play_button" > play </button>
			dlkfgnlksdngkl;sdmgkl;smgl;sd