<body>
	<div>
		<input type="number" class="edge_weight_input" value="12" >
	</div>
</body>

<style>

div
{
	border-style: double;
	height: 300px;
}

div
{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* input
{
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%); 
	position: relative;
} */

</style>
<!-- 
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/css/graph.css">
</head>
<body>






<h2>The font on this paragraph 1234567890 looks awesome</h2>
<p>The font on this paragraph looks awesome</p>



</body>
</html> -->
